* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; /* Ensures padding/border are included in the total width/height */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important; /* Forces background to stay transparent */
    -webkit-text-fill-color: white !important; /* Ensures the typed text stays white */
    transition: background-color 5000s ease-in-out 0s; /* Delays the browser's color change indefinitely */
}

body {
    font-family: sans-serif;
   /* background-image: url("./Photos/Gradient.avif");*/
    background: #0f0b1a;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(241, 232, 232);
}

/*nav {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
}*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;
  padding: 16px 24px;

  background: linear-gradient(135deg, #2e1065, #4c1d95);
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 16px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.user-info {
  margin-left: auto; 
  display: flex;
  align-items: center;

  color:rgba(237, 233, 254, 0.6) ;

  margin-top: 15px;
  padding: 10px 11px;
  font-size: x-small;
}
.middle {
  color: rgba(237, 233, 254, 0.6);
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 100px;
  font-size: 20px;
  transition: all 0.2s;

}

.middle:hover {
  background: rgba(196, 181, 253, 0.15);
  color: #c4b5fd;
}

.middle.active {
  background: rgba(196, 181, 253, 0.2);
  color: #c4b5fd;
}
.log {
  color: rgba(237, 233, 254, 0.8);
  text-decoration: none;

  padding: 8px 18px;
  border-radius: 999px;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;

  background: rgba(168, 85, 247, 0.08);
  border: 1px solid rgba(196, 181, 253, 0.25);

  transition: all 0.25s ease;

  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.log:hover {
  background: rgba(196, 181, 253, 0.18);
  color: #e9d5ff;

  transform: translateY(-2px);

  box-shadow:
    0 0 10px rgba(196, 181, 253, 0.4),
    0 0 25px rgba(139, 92, 246, 0.3);

  border-color: rgba(196, 181, 253, 0.5);
}

a {
    color: #8750f7;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 0 8px #8750f7;
}

.main-btn, button{ 
    background: linear-gradient(90deg, #8750f7, #a076f9); 
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s ease;
    box-shadow: 0 4px 15px rgba(135, 80, 247, 0.2);
}

.main-btn:hover, button:hover {
    box-shadow: 0 0 20px #8750f7; 
    transform: translateY(-3px);
    filter: brightness(1.1);
}